* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #F58E81;
}

body {
    margin: 0;
    background-color: #FAF7F7;
    font-family: 'canada-type-gibson', sans-serif;
}

header #pageone {
    background-color: #F58E81;
    text-align: left;
    padding: 5vw 2vw;

}

h1 {
    margin: 3rem 1rem;
    text-transform: capitalize;
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 2rem;
}

h2 {
    margin: 1.5rem 2rem;
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 1.5rem;
    color: #EA5045;

}

h3 {}

h4 {
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    color: #000;
    padding: 1rem;
}

h5 {
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #F58E81;
    margin-bottom: 4vw;
}

p {
    padding: 0 1rem;
    font-family: 'canada-type-gibson', sans-serif;
}

.txt2 {
    margin: 1rem 0 0 0;
    padding: 0 2rem;

}

img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}


ul {
    list-style-type: none;
    font-family: 'canada-type-gibson', sans-serif;
    color: #F58E81;
    padding: 0;
    margin: 0;

}

.hidden {
    display: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: 2s;
}

/**** LOGIN PAGE ***/


#pageone {
    background-color: main-bg-color;
    text-align: center;

}

#pageone img {
    margin: 15vw 15vw;
}

#front {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #FAF7F7;
    margin: 30vw 0;

}


input[type=text],
input[type=password] {
    font-family: 'arial', sans-serif;
    border: 1px solid #FFFFFF;
    color: #F58E81;
    padding: 0.5rem;
    margin: 3vw;
    height: 9vw;
    width: 60vw;
    border-radius: 2rem;
}

.passwordhelp {
    display: block;
    margin: 0;
    margin-top: -6vw;
    font-size: 0.7rem;

}

.glemtpassword {
    display: block;
    margin-top: 8vw;
    text-align: right;
    font-size: 0.7rem;
}


.button {
    margin-top: 10vw;
    font-family: "arial", sans-serif;
}

#login {
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #EA5045;
    height: 9vw;
    width: 60vw;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 6vw;
}

#loginfb {
    color: #F58E81;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 2px solid #EA5045;
    height: 9vw;
    width: 60vw;
    text-align: center;
    padding-top: 8px;

}



/****** LANDING PAGE *******/

header {
    margin: 0;
    background-color: #EA5045;
}

nav {
    width: 100%;
}

nav #menuknap {
    position: absolute;
    right: 10vw;
    top: 15px;
    height: 20px;
}

#headerlogo {
    height: 50px;
    padding: 1rem;
}

nav #profile {
    position: absolute;
    right: 20vw;
    top: 15px;
    height: 20px;
}

#menu {
    flex-wrap: wrap;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 35vw 35vw 0 35vw;
    background-color: #3F3140;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    z-index: 10;
    transition: 0.5s;

}

#menuknap {
    position: absolute;
    cursor: pointer;
    transition: 2s;
    z-index: 20;
}

a {
    text-decoration: none;
}

a:active {
    color: #ffffff;
}

#logo {
    transform: scale(1.2);
    margin-bottom: 10vw;
}

main #landingpage {
    background-color: #FAF7F7;
    margin: 0;
    font-family: 'gibson', sans-serif;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 2rem;
    width: 100%;
    padding: 1rem 0;
    color: #FFF;
    background-color: #F58E81
}


/****** GRID *******/

.grid {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px;
    grid-gap: 7.5px;
}

.item {
    background-color: #fff;
    display: grid;
    justify-items: center;
    align-items: center;
}

.item-4 {
    grid-column: 1 / span 2;

}

.j {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
    font-family: 'arial', sans-serif;
    font-weight: 600;
    font-size: 3rem;

}


.grid a {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: #F58E81;
    font-family: 'arial', sans-serif;
    font-weight: 600;

}


/********** MATERIALER **********/




.grey {
    margin: 1rem 1.2rem;
    padding: 0.5rem 0rem;
    background-color: #DEDCDB;
    /*    padding: 1rem;*/

}

#pil,
.pil {
    position: relative;
    left: 84vw;
    bottom: 4vw;

}

.link {
    position: relative;
    left: 70vw;
    bottom: 2vw;

}

/***** DROP DOWN MENU *****/

#dropdown {
    background-color: #FFF;
    align-items: flex-start;
    background-size: 100%;
    color: #000;
}

#dropdown li {
    border: 1px solid #DEDCDB;
    padding: 2rem;
    list-style: none;

}
