* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #F58E81;
}

body {
    margin: 0;
    background-color: #FAF7F7;
}

header #pageone {
    background-color: #F58E81;
    text-align: left;
    padding: 5vw 2vw;

}

header #top {
    background-color: #EA5045;
    text-align: left;
    padding: 5vw 2vw;

}

header img {
    height
}

h1 {
    margin: 3rem 1rem;
    text-transform: capitalize;
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 2rem;
}

h2 {
    margin: 1.5rem 2rem;
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 1.5rem;
    color: #EA5045;

}

h3 {}

h4 {
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    color: #000;
    padding: 1rem;
}

p {
    padding: 0 1rem;
    font-family: 'canada-type-gibson', sans-serif;
}

.txt2 {
    margin: 1rem 0 0 0;
    padding: 0 2rem;

}


ul {
    list-style-type: none;
    font-family: 'canada-type-gibson', sans-serif;
    color: #F58E81;
    padding-inline-start: 0;

}

.hidden {
    display: none;
}

/**** LOGIN PAIGE ***/


#pageone {
    background-color: main-bg-color;
    text-align: center;

}

#pageone img {
    margin: 15vw 15vw;
}

main {
    background-color: #FAF7F7;

}

form {
    margin: 20vw;
    font-size: 1rem;
    /*    list-style-type: none;*/

}

input {
    font-family: 'arial', sans-serif;
    border: 1px solid #FFFFFF;
    color: #F58E81;
    padding: 0.5rem;
    margin: 3vw;
    height: 8vw;
    width: 50vw;
    border-radius: 2rem;
}

#login {
    color: #FFFFFF;
    margin: 1vw 20vw;
    background-color: #EA5045;
}

#loginfb {
    color: #F58E81;
    background-color: #FFFFFF;
    border: 2px solid #EA5045;
    margin: 0 20vw;

}

#checkbox {
    position: absolute;
    width: 2vw;
    top: 55vw;
    left: 40vw;
    background-color: #000;
}

article #huskmig {
    position: absolute;
}



/****** LANDING PAGE *******/

header {
    padding: 5vw;
    background-color: #EA5045;
}

nav img {
    position: absolute;
    right: 10vw;
    top: 5vw;
    height: 30px;
}

nav #profile {
    position: absolute;
    right: 20vw;
    top: 5vw;
    height: 30px;
}

#menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 25vw 40vw;
    font-family: 'canada-type-gibson', sans-serif;
    background-color: #3F3140;
    font-size: 1.5rem;
    text-align: center;
    transition: 2s;

}

#menu li {
    text-decoration: none;
    padding: 1rem;
}

#menuknap {
    z-index: 10;
}

a {
    text-decoration: none;
}

a:active {
    color: #ffffff;
}

#menu #logo {
    position: absolute;
    left: 40vw;
    height: 8vw;
}


main #landingpage {
    background-color: #FAF7F7;
    margin: 0;
    font-family: 'gibson', sans-serif;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 2rem;
    width: 100%;
    padding: 1rem 0;
    color: #FFF;
    background-color: #F58E81
}


/****** GRID *******/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.item {
    display: grid;
    justify-items: center;
    align-items: center;
}


.a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}


.b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;

}

.c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;

}

.d {
    padding: 1rem 0;
    font-size: 2rem;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 3;


}


.e {
    grid-column-start: 3;
    grid-row-start: 2;

}


.f {
    grid-column-start: 1;
    grid-row-start: 3;

}

.g {
    grid-column-start: 2;
    grid-row-start: 3;

}

.h {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 3;

}

.i {
    grid-column-start: 1;
    grid-row-start: 4;

}

.j {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
    justify-content: center;
    align-items: center;
    font-family: 'arial', sans-serif;
    font-weight: 600;
    font-size: 4rem;

}

.k {
    grid-column-start: 1;
    grid-row-start: 5;

}

figure {
    margin: 0;
    padding: 2rem;
    background-color: #FFFFFF;
    color: #F58E81;
    font-family: 'arial', sans-serif;
    font-weight: 600;
    background-size: contain;

}


/********** AFLEVERINGER **********/




.grey {
    margin: 2rem 1.2rem;
    padding: 1rem 0rem;
    background-color: #DEDCDB;
    /*    padding: 1rem;*/

}

.grey img {
    position: relative;
    left: 84vw;
    bottom: 2vw;

}

.link {
    position: relative;
    left: 75vw;
    bottom: 8vw;

}

/***** DROP DOWN MENU *****/

#dropdown {
    background-color: #FFF;
    align-items: flex-start;
    background-size: 100%;
    color: #000;
}

#dropdown li {
    border: 1px solid #DEDCDB;
    padding: 2rem;
    list-style: none;

}


@media only screen and (min-width:604px) {

    main #front {
        max-width: 800px;
        padding: 0 30vw;
        margin: 0 20vw;
    }
}
